.video {
    display: flex;
    padding: 2vh;
    border: 1px solid chartreuse;
}

.video div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2vh;
}

.video a {
    font-size: 1vh;
}

.video p{
    text-align: justify;
    line-height: 2vh;
}

.video img {
    width: 30vh;
}

#videos-container {
    padding: 5vh;
    overflow-y: scroll;
}